.navbar{
    background-color:  rgb(8, 99, 100);
    height: 5rem;
    gap: 3rem;
    row-gap: 20px;
   
    display: flex;
    color: white;
}
.nav1{
    
    padding: 5px;
  
    cursor: pointer;
    display: flex;
   margin: 25px;
    font-size: large;
   
   
}
.ico1,.ico2,.ico3,.ico4,.ico5,.ico6,.ico7{
    padding: 3px;
    font-size: 29px;
}

.n1,.n2,.n3,.n4,.n5,.n6,.n7 {
   padding: 3px;
}
